{% extends "pages/patchouli/page.html.jinja" %}

{% block body %}
<script id='remove_me'>
    window.addEventListener('load',()=>{
        let me=document.getElementById('remove_me')
        let parent=me.parentNode
        console.error(parent)
        parent.removeChild(me.nextSibling)
        parent.removeChild(me)
    })
</script>
{% endblock body %}
