{% extends "pages/patchouli/page.html.jinja" %}
{% import "macros/formatting.html.jinja" as fmt with context %}

{% block body %}
<div>
    {{ fmt.styled(_f(_("hex_ars_link.page.linkers.1.unit") % (
        'lv1', _("item.hex_ars_link.linker_base"),
        100, 1
    ))) }}
</div>
<div>
    {{ fmt.styled(_f(_("hex_ars_link.page.linkers.1.unit") % (
        'lv2', _("item.hex_ars_link.linker_advanced"),
        20, 1
    ))) }}
</div>
<div>
    {{ fmt.styled(_f(_("hex_ars_link.page.linkers.1.unit") % (
        'lv3', _("item.hex_ars_link.linker_great"),
        4, 1
    ))) }}
</div>
<div>
    {{ fmt.styled(_f(_("hex_ars_link.page.linkers.1.note"))) }}
</div>
{% endblock body %}
